In [1]:
import akshare as ak

In [8]:
stock_zh_a_hist_df = ak.stock_zh_a_hist(symbol="600085", period="daily", start_date="20150101", end_date='20240110', adjust="qfq")

In [9]:
stock_zh_a_hist_df

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2015-01-05,19.66,19.56,19.85,19.17,180378,4.042912e+08,3.47,-0.15,-0.03,1.38
1,2015-01-06,19.37,21.52,21.80,19.26,465279,1.122868e+09,12.99,10.02,1.96,3.55
2,2015-01-07,21.16,21.02,21.34,20.49,252693,6.004664e+08,3.95,-2.32,-0.50,1.93
3,2015-01-08,21.00,20.82,21.52,20.66,166144,3.974108e+08,4.09,-0.95,-0.20,1.27
4,2015-01-09,20.71,20.75,21.31,20.67,140226,3.340994e+08,3.07,-0.34,-0.07,1.07
...,...,...,...,...,...,...,...,...,...,...,...
2191,2024-01-04,54.58,54.90,54.94,53.90,72188,3.923984e+08,1.90,0.46,0.25,0.53
2192,2024-01-05,54.65,53.80,55.10,53.43,72414,3.928812e+08,3.04,-2.00,-1.10,0.53
2193,2024-01-08,53.65,53.46,53.93,52.85,64723,3.460587e+08,2.01,-0.63,-0.34,0.47
2194,2024-01-09,53.25,53.21,53.60,53.00,42471,2.262477e+08,1.12,-0.47,-0.25,0.31
2195,2024-01-10,53.00,51.36,53.00,51.28,90643,4.724753e+08,3.23,-3.48,-1.85,0.66

In [12]:
stock_zh_a_hist_df.to_excel('600085.xlsx')

In [14]:
import pandas as pd

In [19]:
data=pd.read_excel('600085.xlsx')

In [20]:
data

,date,open,close,high,low,成交量,成交额,振幅,涨跌幅,涨跌额,换手率,MA5,MA20,RSV,K,D,J
0,2015-01-05,19.66,19.56,19.85,19.17,180378,404291184,3.47,-0.15,-0.03,1.38,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-06,19.37,21.52,21.80,19.26,465279,1122867920,12.99,10.02,1.96,3.55,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-07,21.16,21.02,21.34,20.49,252693,600466432,3.95,-2.32,-0.50,1.93,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-08,21.00,20.82,21.52,20.66,166144,397410800,4.09,-0.95,-0.20,1.27,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-09,20.71,20.75,21.31,20.67,140226,334099440,3.07,-0.34,-0.07,1.07,20.734,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,2024-01-04,54.58,54.90,54.94,53.90,72188,392398397,1.90,0.46,0.25,0.53,54.200,52.4245,80.555556,84.060376,81.407893,89.365344
2192,2024-01-05,54.65,53.80,55.10,53.43,72414,392881235,3.04,-2.00,-1.10,0.53,54.330,52.5535,54.137116,74.085956,78.967247,64.323374
2193,2024-01-08,53.65,53.46,53.93,52.85,64723,346058717,2.01,-0.63,-0.34,0.47,54.282,52.6785,43.564356,63.912090,73.948861,43.838546
2194,2024-01-09,53.25,53.21,53.60,53.00,42471,226247678,1.12,-0.47,-0.25,0.31,54.004,52.7565,34.114583,53.979588,67.292437,27.353889
2195,2024-01-10,53.00,51.36,53.00,51.28,90643,472475304,3.23,-3.48,-1.85,0.66,53.346,52.6995,1.793722,36.584299,57.056391,-4.359885

In [23]:
import ta

In [24]:
macd = ta.trend.MACD(data['close'])

# 提取MACD线和信号线
macd_line = macd.macd()
signal_line = macd.macd_signal()

In [26]:
macd_line

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
2191    0.715365
2192    0.697935
2193    0.649202
2194    0.583681
2195    0.378116
Name: MACD_12_26, Length: 2196, dtype: float64

In [27]:
signal_line

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
2191    0.393055
2192    0.454031
2193    0.493066
2194    0.511189
2195    0.484574
Name: MACD_sign_12_26, Length: 2196, dtype: float64

In [28]:
data['DIF']=macd_line
data['DEA']=signal_line
data

,date,open,close,high,low,成交量,成交额,振幅,涨跌幅,涨跌额,换手率,MA5,MA20,RSV,K,D,J,DIF,DEA
0,2015-01-05,19.66,19.56,19.85,19.17,180378,404291184,3.47,-0.15,-0.03,1.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-06,19.37,21.52,21.80,19.26,465279,1122867920,12.99,10.02,1.96,3.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-07,21.16,21.02,21.34,20.49,252693,600466432,3.95,-2.32,-0.50,1.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-08,21.00,20.82,21.52,20.66,166144,397410800,4.09,-0.95,-0.20,1.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-09,20.71,20.75,21.31,20.67,140226,334099440,3.07,-0.34,-0.07,1.07,20.734,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,2024-01-04,54.58,54.90,54.94,53.90,72188,392398397,1.90,0.46,0.25,0.53,54.200,52.4245,80.555556,84.060376,81.407893,89.365344,0.715365,0.393055
2192,2024-01-05,54.65,53.80,55.10,53.43,72414,392881235,3.04,-2.00,-1.10,0.53,54.330,52.5535,54.137116,74.085956,78.967247,64.323374,0.697935,0.454031
2193,2024-01-08,53.65,53.46,53.93,52.85,64723,346058717,2.01,-0.63,-0.34,0.47,54.282,52.6785,43.564356,63.912090,73.948861,43.838546,0.649202,0.493066
2194,2024-01-09,53.25,53.21,53.60,53.00,42471,226247678,1.12,-0.47,-0.25,0.31,54.004,52.7565,34.114583,53.979588,67.292437,27.353889,0.583681,0.511189
2195,2024-01-10,53.00,51.36,53.00,51.28,90643,472475304,3.23,-3.48,-1.85,0.66,53.346,52.6995,1.793722,36.584299,57.056391,-4.359885,0.378116,0.484574

In [29]:
data.to_excel('600085.xlsx')

In [34]:
data=pd.read_excel('600085.xlsx')
# 计算RSI指标
rsi6 = ta.momentum.RSIIndicator(data['close'], window=6)
rsi12 = ta.momentum.RSIIndicator(data['close'], window=12)
# 提取RSI数值
rsi_values6 = rsi6.rsi()
rsi_values12= rsi12.rsi()

In [35]:
rsi_values6

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
2191    79.186993
2192    54.951124
2193    49.349025
2194    45.276279
2195    26.128048
Name: rsi, Length: 2196, dtype: float64

In [36]:
rsi_values12

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
2191    69.045539
2192    57.841573
2193    54.840921
2194    52.650015
2195    39.810762
Name: rsi, Length: 2196, dtype: float64

In [37]:
data['RSI6']=rsi_values6
data['RSI12']=rsi_values12
data

,Unnamed: 0,date,open,close,high,low,成交量,成交额,振幅,涨跌幅,...,MA20,RSV,K,D,J,DIF,DEA,MACD,RSI6,RSI12
0,0,2015-01-05,19.66,19.56,19.85,19.17,180378,404291184,3.47,-0.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2015-01-06,19.37,21.52,21.80,19.26,465279,1122867920,12.99,10.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2015-01-07,21.16,21.02,21.34,20.49,252693,600466432,3.95,-2.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2015-01-08,21.00,20.82,21.52,20.66,166144,397410800,4.09,-0.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2015-01-09,20.71,20.75,21.31,20.67,140226,334099440,3.07,-0.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,2191,2024-01-04,54.58,54.90,54.94,53.90,72188,392398397,1.90,0.46,...,52.4245,80.555556,84.060376,81.407893,89.365344,0.715365,0.393055,0.644619,79.186993,69.045539
2192,2192,2024-01-05,54.65,53.80,55.10,53.43,72414,392881235,3.04,-2.00,...,52.5535,54.137116,74.085956,78.967247,64.323374,0.697935,0.454031,0.487807,54.951124,57.841573
2193,2193,2024-01-08,53.65,53.46,53.93,52.85,64723,346058717,2.01,-0.63,...,52.6785,43.564356,63.912090,73.948861,43.838546,0.649202,0.493066,0.312274,49.349025,54.840921
2194,2194,2024-01-09,53.25,53.21,53.60,53.00,42471,226247678,1.12,-0.47,...,52.7565,34.114583,53.979588,67.292437,27.353889,0.583681,0.511189,0.144984,45.276279,52.650015
2195,2195,2024-01-10,53.00,51.36,53.00,51.28,90643,472475304,3.23,-3.48,...,52.6995,1.793722,36.584299,57.056391,-4.359885,0.378116,0.484574,-0.212916,26.128048,39.810762

In [39]:
data=pd.read_excel('600085.xlsx')
cci = ta.trend.cci(data['high'], data['low'], data['close'], window=14)
data['CCI 14']=cci
data

,date,open,close,high,low,成交量,成交额,振幅,涨跌幅,涨跌额,...,RSV,K,D,J,DIF,DEA,MACD,RSI6,RSI12,CCI 14
0,2015-01-05,19.66,19.56,19.85,19.17,180378,404291184,3.47,-0.15,-0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-06,19.37,21.52,21.80,19.26,465279,1122867920,12.99,10.02,1.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-07,21.16,21.02,21.34,20.49,252693,600466432,3.95,-2.32,-0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-08,21.00,20.82,21.52,20.66,166144,397410800,4.09,-0.95,-0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-09,20.71,20.75,21.31,20.67,140226,334099440,3.07,-0.34,-0.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,2024-01-04,54.58,54.90,54.94,53.90,72188,392398397,1.90,0.46,0.25,...,80.555556,84.060376,81.407893,89.365344,0.715365,0.393055,0.644619,79.186993,69.045539,123.824630
2192,2024-01-05,54.65,53.80,55.10,53.43,72414,392881235,3.04,-2.00,-1.10,...,54.137116,74.085956,78.967247,64.323374,0.697935,0.454031,0.487807,54.951124,57.841573,80.582940
2193,2024-01-08,53.65,53.46,53.93,52.85,64723,346058717,2.01,-0.63,-0.34,...,43.564356,63.912090,73.948861,43.838546,0.649202,0.493066,0.312274,49.349025,54.840921,32.139078
2194,2024-01-09,53.25,53.21,53.60,53.00,42471,226247678,1.12,-0.47,-0.25,...,34.114583,53.979588,67.292437,27.353889,0.583681,0.511189,0.144984,45.276279,52.650015,15.125516
2195,2024-01-10,53.00,51.36,53.00,51.28,90643,472475304,3.23,-3.48,-1.85,...,1.793722,36.584299,57.056391,-4.359885,0.378116,0.484574,-0.212916,26.128048,39.810762,-94.923951

In [40]:
data.to_excel('600085.xlsx')

In [55]:
data = pd.read_excel('600085.xlsx')  # 替换为你的数据文件路径

obv = []
obv.append(0)  # 初始值为0

for i in range(1, len(data)):
    if data['Close'][i] > data['Close'][i-1]:
        obv.append(obv[i-1] + data['Volume'][i])
    elif data['Close'][i] < data['Close'][i-1]:
        obv.append(obv[i-1] - data['Volume'][i])
    else:
        obv.append(obv[i-1])

# 将OBV指标转换为Series对象
obv_series = pd.Series(obv, index=data.index)
obv_series

0              0
1         465279
2         212586
3          46442
4         -93784
          ...
2191    25848582
2192    25776168
2193    25711445
2194    25668974
2195    25578331
Length: 2196, dtype: int64

In [56]:
data['OBV']=obv_series
data

,Date,Open,Close,High,Low,Volume,成交额,振幅,涨跌幅,涨跌额,...,K,D,J,DIF,DEA,MACD,RSI6,RSI12,CCI 14,OBV
0,2015-01-05,19.66,19.56,19.85,19.17,180378,404291184,3.47,-0.15,-0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2015-01-06,19.37,21.52,21.80,19.26,465279,1122867920,12.99,10.02,1.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,465279
2,2015-01-07,21.16,21.02,21.34,20.49,252693,600466432,3.95,-2.32,-0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212586
3,2015-01-08,21.00,20.82,21.52,20.66,166144,397410800,4.09,-0.95,-0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46442
4,2015-01-09,20.71,20.75,21.31,20.67,140226,334099440,3.07,-0.34,-0.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-93784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,2024-01-04,54.58,54.90,54.94,53.90,72188,392398397,1.90,0.46,0.25,...,84.060376,81.407893,89.365344,0.715365,0.393055,0.644619,79.186993,69.045539,123.824630,25848582
2192,2024-01-05,54.65,53.80,55.10,53.43,72414,392881235,3.04,-2.00,-1.10,...,74.085956,78.967247,64.323374,0.697935,0.454031,0.487807,54.951124,57.841573,80.582940,25776168
2193,2024-01-08,53.65,53.46,53.93,52.85,64723,346058717,2.01,-0.63,-0.34,...,63.912090,73.948861,43.838546,0.649202,0.493066,0.312274,49.349025,54.840921,32.139078,25711445
2194,2024-01-09,53.25,53.21,53.60,53.00,42471,226247678,1.12,-0.47,-0.25,...,53.979588,67.292437,27.353889,0.583681,0.511189,0.144984,45.276279,52.650015,15.125516,25668974
2195,2024-01-10,53.00,51.36,53.00,51.28,90643,472475304,3.23,-3.48,-1.85,...,36.584299,57.056391,-4.359885,0.378116,0.484574,-0.212916,26.128048,39.810762,-94.923951,25578331

In [57]:
window = 20  # 移动窗口大小
std_dev = 2  # 标准差倍数

# 计算中轨线（BOLL）
data['BOLLMID'] = data['Close'].rolling(window).mean()

# 计算标准差
data['STD'] = data['Close'].rolling(window).std()

# 计算上轨线（UPPER）和下轨线（LOWER）
data['BOLLUPPER'] = data['BOLLMID'] + std_dev * data['STD']
data['BOLLLOWER'] = data['BOLLMID'] - std_dev * data['STD']

# 输出结果
data

,Date,Open,Close,High,Low,Volume,成交额,振幅,涨跌幅,涨跌额,...,DEA,MACD,RSI6,RSI12,CCI 14,OBV,BOLLMID,STD,BOLLUPPER,BOLLLOWER
0,2015-01-05,19.66,19.56,19.85,19.17,180378,404291184,3.47,-0.15,-0.03,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,2015-01-06,19.37,21.52,21.80,19.26,465279,1122867920,12.99,10.02,1.96,...,NaN,NaN,NaN,NaN,NaN,465279,NaN,NaN,NaN,NaN
2,2015-01-07,21.16,21.02,21.34,20.49,252693,600466432,3.95,-2.32,-0.50,...,NaN,NaN,NaN,NaN,NaN,212586,NaN,NaN,NaN,NaN
3,2015-01-08,21.00,20.82,21.52,20.66,166144,397410800,4.09,-0.95,-0.20,...,NaN,NaN,NaN,NaN,NaN,46442,NaN,NaN,NaN,NaN
4,2015-01-09,20.71,20.75,21.31,20.67,140226,334099440,3.07,-0.34,-0.07,...,NaN,NaN,NaN,NaN,NaN,-93784,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,2024-01-04,54.58,54.90,54.94,53.90,72188,392398397,1.90,0.46,0.25,...,0.393055,0.644619,79.186993,69.045539,123.824630,25848582,52.4245,1.253813,54.932126,49.916874
2192,2024-01-05,54.65,53.80,55.10,53.43,72414,392881235,3.04,-2.00,-1.10,...,0.454031,0.487807,54.951124,57.841573,80.582940,25776168,52.5535,1.256085,55.065671,50.041329
2193,2024-01-08,53.65,53.46,53.93,52.85,64723,346058717,2.01,-0.63,-0.34,...,0.493066,0.312274,49.349025,54.840921,32.139078,25711445,52.6785,1.212810,55.104120,50.252880
2194,2024-01-09,53.25,53.21,53.60,53.00,42471,226247678,1.12,-0.47,-0.25,...,0.511189,0.144984,45.276279,52.650015,15.125516,25668974,52.7565,1.193188,55.142876,50.370124
2195,2024-01-10,53.00,51.36,53.00,51.28,90643,472475304,3.23,-3.48,-1.85,...,0.484574,-0.212916,26.128048,39.810762,-94.923951,25578331,52.6995,1.232663,55.164826,50.234174

In [58]:
data.to_excel('600085.xlsx')